In [1]:
intent_2024_10_07 = """

Solving "It's all about the ratings" page 200 in the logic puzzles book. The book lists this one as the \
most difficult puzzle in the book 41 minutes solve time.

There are 5 audience sizes (in millions)
    "mil_1"
    "mil_2"
    "mil_3"
    "mil_4"
    "mil_5"

There are 5 Channel Names:
    "Name_BNRG"
    "Name_CVT"
    "Name_KWTM"
    "Name_PCR"
    "Name_TWL"

There are 5 Channel Numbers:
    "Ch_15"
    "Ch_22"
    "Ch_43"
    "Ch_56"
    "Ch_62"

There are 5 different shows:
    "Show_Moneygab"
    "Show_Ponyville"
    "Show_Powertrips"
    "Show_Soap_Suds"
    "Show_Top_Chow"


The clues are in 7 statements:

# statement #1
#
# 'Soap Suds' (which doesn't have the most viewers) doesn't air on BNRG, which has one million fewer \
#     viewers than the channel that airs 'Powertrips'

# statement 2.
#
# Channel #22 has fewer viewers than channel that airs Top Chow, which has fewer \
#   viewers than TWL

# statement 3.
#
# TWL, which isn't carried on channel #56, boasts the most viewers of all five \
#   channels

# statement 4.
#
# Between PCR and the channel the airs Moneygab, one has three million viewers \
#   and the other is on channel #22

# statement 5.
#
# Of channel #15 and the station that airs Ponyville, one is KWTM and the other \
#   has the smallest viewership of all five channels

# statement 6.
#
# Moneygab doesn't air on either channel #15 or channel #56

# statement 7.
#
# CVT isn't carried on channel #62


This is bit more difficult to solve googling around and using Kruple's book [https://github.com/d-krupke/cpsat-primer]

It can be interesting to comment out some of the clues from the puzzle and see how many solutions remain 

"""

In [2]:
from pprint import pprint

In [3]:
import pandas as pd

pd.set_option('display.max_columns', 30)

In [4]:
from ortools.sat.python import cp_model

In [5]:
#
# putting in the multisolution
#

In [6]:
# Create the model.
model = cp_model.CpModel()

In [7]:
class VarArraySolutionCollector(cp_model.CpSolverSolutionCallback):

    def __init__(self, variables):
        cp_model.CpSolverSolutionCallback.__init__(self)
        self.__variables = variables
        self.solution_list = []

    def on_solution_callback(self):
        self.solution_list.append([self.Value(v) for v in self.__variables])

    def print_headers(self):
        for var in self.__variables:
            print (f"{var.name},",end='')
        print ("")

    def list_of_headers(self):
        return_list = [
            str (var.name) 
            for 
            var in 
            self.__variables
        ]
        return return_list

## set up standard format that is common for this style of logic puzzle

In [8]:
# 1 through 5 -- will use the audience sizes as the number

In [9]:
    M1_viewers = model.new_int_var(1, 5, "mil_1")
    M2_viewers  = model.new_int_var(1, 5, "mil_2")
    M3_viewers  = model.new_int_var(1, 5, "mil_3")
    M4_viewers = model.new_int_var(1, 5, "mil_4")
    M5_viewers  = model.new_int_var(1, 5, "mil_5")


Num_Viewers = [
    M1_viewers,
    M2_viewers,
    M3_viewers,
    M4_viewers,
    M5_viewers,
]

In [10]:

Name_BNRG = model.new_int_var(1, 5, "Name_BNRG")
Name_CVT  = model.new_int_var(1, 5, "Name_CVT")
Name_KWTM = model.new_int_var(1, 5, "Name_KWTM")
Name_PCR  = model.new_int_var(1, 5, "Name_PCR")
Name_TWL  = model.new_int_var(1, 5, "Name_TWL")

Channel_Names = [
    Name_BNRG ,
    Name_CVT ,
    Name_KWTM,
    Name_PCR,
    Name_TWL,

]

In [11]:

Ch_15 = model.new_int_var(1, 5, "Ch_15")
Ch_22 = model.new_int_var(1, 5, "Ch_22")
Ch_43 = model.new_int_var(1, 5, "Ch_43")
Ch_56 = model.new_int_var(1, 5, "Ch_56")
Ch_62 = model.new_int_var(1, 5, "Ch_62")

Channel_Numbers = [
    Ch_15,
    Ch_22,
    Ch_43,
    Ch_56,
    Ch_62,
]

Channel_Numbers

[Ch_15(1..5), Ch_22(1..5), Ch_43(1..5), Ch_56(1..5), Ch_62(1..5)]

In [12]:

Show_Moneygab   = model.new_int_var(1, 5, "Show_Moneygab")
Show_Ponyville  = model.new_int_var(1, 5, "Show_Ponyville")
Show_Powertrips = model.new_int_var(1, 5, "Show_Powertrips")
Show_Soap_Suds  = model.new_int_var(1, 5, "Show_Soap_Suds")
Show_Top_Chow   = model.new_int_var(1, 5, "Show_Top_Chow")


Shows = [
    Show_Moneygab,
    Show_Ponyville,
    Show_Powertrips,
    Show_Soap_Suds,
    Show_Top_Chow,
]

Shows

[Show_Moneygab(1..5),
 Show_Ponyville(1..5),
 Show_Powertrips(1..5),
 Show_Soap_Suds(1..5),
 Show_Top_Chow(1..5)]

In [13]:
all_the_variables = (
    Num_Viewers +
    Channel_Names  + 
    Channel_Numbers  + 
    Shows
)
all_the_variables

[mil_1(1..5),
 mil_2(1..5),
 mil_3(1..5),
 mil_4(1..5),
 mil_5(1..5),
 Name_BNRG(1..5),
 Name_CVT(1..5),
 Name_KWTM(1..5),
 Name_PCR(1..5),
 Name_TWL(1..5),
 Ch_15(1..5),
 Ch_22(1..5),
 Ch_43(1..5),
 Ch_56(1..5),
 Ch_62(1..5),
 Show_Moneygab(1..5),
 Show_Ponyville(1..5),
 Show_Powertrips(1..5),
 Show_Soap_Suds(1..5),
 Show_Top_Chow(1..5)]

In [14]:
#all_the_variables_plus += all_the_variables

In [15]:
aux_variables = []

In [16]:
all_the_variables[0]

mil_1(1..5)

In [17]:
# Create a solver and solve.
#solver = cp_model.CpSolver()
solution_printer = cp_model.VarArraySolutionPrinter(
    all_the_variables
)

In [18]:
#model.add_all_different(Types)

In [19]:
model.add_all_different(Num_Viewers)
model.add_all_different(Channel_Names)
model.add_all_different(Channel_Numbers)
model.add_all_different(Shows)

In [20]:
# setting the rows by audience size

model.Add (M1_viewers == 1)
model.Add (M2_viewers == 2)
model.Add (M3_viewers == 3)
model.Add (M4_viewers == 4)
model.Add (M5_viewers == 5)

## adding the clues that particular to this puzzle

In [21]:
# statement #1

# 'Soap Suds' (which doesn't have the most viewers) doesn't air on BNRG, which has one million fewer \
#     viewers than the channel that airs 'Powertrips'


model.add_all_different(
    Show_Soap_Suds,
    Name_BNRG,

)

model.Add(Name_BNRG == Show_Powertrips - 1)

# 

model.add_all_different(
    Show_Soap_Suds,
    M5_viewers
)

In [22]:
# statement 2.

# Channel #22 has fewer viewers than the channel that airs Top Chow, which has fewer viewers than TWL

model.Add(Ch_22<Show_Top_Chow )
model.Add(Show_Top_Chow < Name_TWL )

In [23]:
# statement 3.

# TWL, which isn't carried on channel #56, boasts the most viewers of all five channels

model.add(Name_TWL == M5_viewers)

model.add(Name_TWL != Ch_56)

In [24]:
# statement 4.

# Between PCR and the channel the airs Moneygab, one has three million viewers and the other is on channel #22

model.add_all_different(
    Name_PCR,
    Show_Moneygab
)
model.add_all_different(
    M3_viewers,
    Ch_22
)

In [25]:
# statement 4a


PCR_is_M3_viewers =  model.new_bool_var("PCR_is_M3_viewers")

model.Add(Name_PCR == M3_viewers).OnlyEnforceIf(PCR_is_M3_viewers )
model.Add(Name_PCR != M3_viewers).OnlyEnforceIf(~PCR_is_M3_viewers)

aux_variables.append(PCR_is_M3_viewers )
PCR_is_M3_viewers

PCR_is_M3_viewers(0..1)

In [26]:
# statement 4b

PCR_is_Ch_22 =  model.new_bool_var("PCR_is_Ch22")

model.Add(Name_PCR == Ch_22 ).OnlyEnforceIf(PCR_is_Ch_22 )
model.Add(Name_PCR != Ch_22 ).OnlyEnforceIf(~PCR_is_Ch_22)

aux_variables.append(PCR_is_Ch_22  )

PCR_is_Ch_22

PCR_is_Ch22(0..1)

In [27]:
# statement 4c

Moneygab_is_M3_viewers =  model.new_bool_var("Moneygab_is_M3_viewers")

model.Add(Show_Moneygab == M3_viewers).OnlyEnforceIf(Moneygab_is_M3_viewers)
model.Add(Show_Moneygab != M3_viewers).OnlyEnforceIf(~Moneygab_is_M3_viewers)

aux_variables.append(Moneygab_is_M3_viewers )
Moneygab_is_M3_viewers

Moneygab_is_M3_viewers(0..1)

In [28]:
# statement 4d

Moneygab_is_Ch_22 =  model.new_bool_var("Moneygab_is_Ch_22")

model.Add(Show_Moneygab == Ch_22).OnlyEnforceIf(Moneygab_is_Ch_22)
model.Add(Show_Moneygab != Ch_22).OnlyEnforceIf(~Moneygab_is_Ch_22)

aux_variables.append(Moneygab_is_Ch_22 )
Moneygab_is_Ch_22

Moneygab_is_Ch_22(0..1)

In [29]:

model.AddBoolXOr([PCR_is_M3_viewers, PCR_is_Ch_22])
model.AddBoolXOr([PCR_is_M3_viewers, Moneygab_is_M3_viewers])
model.AddBoolXOr([Moneygab_is_M3_viewers, Moneygab_is_Ch_22])

In [30]:
# statement 5.

# Of channel #15 and the station that airs Ponyville, one is KWTM and the other has the smallest viewership of all five channels

model.add_all_different(
    Ch_15,
    Show_Ponyville
)
model.add_all_different(
    Name_KWTM,
    M1_viewers
)

In [31]:
# statement 5a

Ch_15_is_KWTM = model.new_bool_var("Ch_15_is_KWTM")

model.Add(Ch_15 == Name_KWTM).OnlyEnforceIf(Ch_15_is_KWTM)
model.Add(Ch_15 != Name_KWTM).OnlyEnforceIf(~Ch_15_is_KWTM)

aux_variables.append(Ch_15_is_KWTM )

Ch_15_is_KWTM

Ch_15_is_KWTM(0..1)

In [32]:
# statement 5b

Ch_15_is_M1_viewers =  model.new_bool_var("Ch_15_is_M1_viewers")

model.Add(Ch_15 == M1_viewers).OnlyEnforceIf(Ch_15_is_M1_viewers)
model.Add(Ch_15 != M1_viewers).OnlyEnforceIf(~Ch_15_is_M1_viewers)

aux_variables.append(Ch_15_is_M1_viewers)
Ch_15_is_M1_viewers

Ch_15_is_M1_viewers(0..1)

In [33]:
# statement 5c

Ponyville_is_M1_viewers =  model.new_bool_var("Ponyville_is_M1_viewers")

model.Add(Show_Ponyville == M1_viewers).OnlyEnforceIf(Ponyville_is_M1_viewers)
model.Add(Show_Ponyville != M1_viewers).OnlyEnforceIf(~Ponyville_is_M1_viewers)

aux_variables.append(Ponyville_is_M1_viewers)

Ponyville_is_M1_viewers

Ponyville_is_M1_viewers(0..1)

In [34]:
# statement 5d

Ponyville_is_KWTM =  model.new_bool_var("Ponyville_is_KWTM")

model.Add(Show_Ponyville == Name_KWTM).OnlyEnforceIf(Ponyville_is_KWTM)
model.Add(Show_Ponyville != Name_KWTM).OnlyEnforceIf(~Ponyville_is_KWTM)

aux_variables.append(Ponyville_is_KWTM)

Ponyville_is_KWTM

Ponyville_is_KWTM(0..1)

In [35]:
model.AddBoolXOr([Ch_15_is_KWTM , Ch_15_is_M1_viewers])
model.AddBoolXOr([Ch_15_is_M1_viewers, Ponyville_is_M1_viewers])
model.AddBoolXOr([Ponyville_is_M1_viewers, Ponyville_is_KWTM])

In [36]:
# statement 6.

# Moneygab doesn't air on either channel #15 or channel #56

model.add_all_different(
    Show_Moneygab,
    Ch_15
)

model.add_all_different(
    Show_Moneygab,
    Ch_56
)

In [37]:
# statement 7.

# CVT isn't carried on channel #62

model.add_all_different(
    Name_CVT,
    Ch_62
)

In [38]:
### print out solutions

In [39]:
# Solve and print out the solution.
solver = cp_model.CpSolver()
#status = solver.solve(model)
#status = solver.SearchForAllSolutions(model, solution_printer)

In [40]:
#solution_collector = VarArraySolutionCollector(  all_the_variables  )


solution_collector = VarArraySolutionCollector(  
    all_the_variables + 
    aux_variables
)


solver.SearchForAllSolutions(model, solution_collector)

4

In [41]:
len(solution_collector.solution_list)

1

In [42]:
solution_collector.print_headers()

mil_1,mil_2,mil_3,mil_4,mil_5,Name_BNRG,Name_CVT,Name_KWTM,Name_PCR,Name_TWL,Ch_15,Ch_22,Ch_43,Ch_56,Ch_62,Show_Moneygab,Show_Ponyville,Show_Powertrips,Show_Soap_Suds,Show_Top_Chow,PCR_is_M3_viewers,PCR_is_Ch22,Moneygab_is_M3_viewers,Moneygab_is_Ch_22,Ch_15_is_KWTM,Ch_15_is_M1_viewers,Ponyville_is_M1_viewers,Ponyville_is_KWTM,

In [43]:
solution_collector.list_of_headers()

['mil_1',
 'mil_2',
 'mil_3',
 'mil_4',
 'mil_5',
 'Name_BNRG',
 'Name_CVT',
 'Name_KWTM',
 'Name_PCR',
 'Name_TWL',
 'Ch_15',
 'Ch_22',
 'Ch_43',
 'Ch_56',
 'Ch_62',
 'Show_Moneygab',
 'Show_Ponyville',
 'Show_Powertrips',
 'Show_Soap_Suds',
 'Show_Top_Chow',
 'PCR_is_M3_viewers',
 'PCR_is_Ch22',
 'Moneygab_is_M3_viewers',
 'Moneygab_is_Ch_22',
 'Ch_15_is_KWTM',
 'Ch_15_is_M1_viewers',
 'Ponyville_is_M1_viewers',
 'Ponyville_is_KWTM']

In [44]:


solutions_df = pd.DataFrame(
    data = solution_collector.solution_list,
    columns = solution_collector.list_of_headers()
    
)
solutions_df.shape

solutions_df

,mil_1,mil_2,mil_3,mil_4,mil_5,Name_BNRG,Name_CVT,Name_KWTM,Name_PCR,Name_TWL,Ch_15,Ch_22,Ch_43,Ch_56,Ch_62,Show_Moneygab,Show_Ponyville,Show_Powertrips,Show_Soap_Suds,Show_Top_Chow,PCR_is_M3_viewers,PCR_is_Ch22,Moneygab_is_M3_viewers,Moneygab_is_Ch_22,Ch_15_is_KWTM,Ch_15_is_M1_viewers,Ponyville_is_M1_viewers,Ponyville_is_KWTM
0,1,2,3,4,5,4,3,2,1,5,2,1,3,4,5,3,1,5,2,4,0,1,1,0,1,0,1,0

In [45]:
### code below will print out the grid

In [46]:
solutions_df.T.shape

(28, 1)

In [47]:
temp_transpose = solutions_df.T

temp_transpose.columns = ['column_0']

temp_transpose['index'] = temp_transpose.index

In [48]:
def first_split(input):
    return input.split("_")[0]

In [49]:
temp_transpose['first_split'] = temp_transpose['index'].apply(first_split)

In [50]:
sorted = temp_transpose.iloc[0:20].sort_values(['column_0','first_split'])

sorted

                 column_0            index first_split
Ch_22                   1            Ch_22          Ch
Name_PCR                1         Name_PCR        Name
Show_Ponyville          1   Show_Ponyville        Show
mil_1                   1            mil_1         mil
Ch_15                   2            Ch_15          Ch
Name_KWTM               2        Name_KWTM        Name
Show_Soap_Suds          2   Show_Soap_Suds        Show
mil_2                   2            mil_2         mil
Ch_43                   3            Ch_43          Ch
Name_CVT                3         Name_CVT        Name
Show_Moneygab           3    Show_Moneygab        Show
mil_3                   3            mil_3         mil
Ch_56                   4            Ch_56          Ch
Name_BNRG               4        Name_BNRG        Name
Show_Top_Chow           4    Show_Top_Chow        Show
mil_4                   4            mil_4         mil
Ch_62                   5            Ch_62          Ch
Name_TWL                5         Name_TWL        Name
Show_Powertrips         5  Show_Powertrips        Show
mil_5                   5            mil_5         mil

In [51]:
index_list = sorted['index']

In [52]:
column = [None]*5

In [53]:
for i in range(4):
    column[i] = index_list[i+0::4]
    print (f"column[{i}]")
    pprint (column[i])
    print()

column[0]
Ch_22    Ch_22
Ch_15    Ch_15
Ch_43    Ch_43
Ch_56    Ch_56
Ch_62    Ch_62
Name: index, dtype: object

column[1]
Name_PCR      Name_PCR
Name_KWTM    Name_KWTM
Name_CVT      Name_CVT
Name_BNRG    Name_BNRG
Name_TWL      Name_TWL
Name: index, dtype: object

column[2]
Show_Ponyville      Show_Ponyville
Show_Soap_Suds      Show_Soap_Suds
Show_Moneygab        Show_Moneygab
Show_Top_Chow        Show_Top_Chow
Show_Powertrips    Show_Powertrips
Name: index, dtype: object

column[3]
mil_1    mil_1
mil_2    mil_2
mil_3    mil_3
mil_4    mil_4
mil_5    mil_5
Name: index, dtype: object

In [54]:
list(column[0])

['Ch_22', 'Ch_15', 'Ch_43', 'Ch_56', 'Ch_62']

In [55]:
final_grid_df = pd.DataFrame(
    data = {
        'Channel' : list(column[0]),
        'Name'    : list(column[1]),
        'Show'    : list(column[2]),
        'Size'    : list(column[3]),
    }
)

final_grid_df[['Size','Name','Show','Channel',			]]

    Size       Name             Show Channel
0  mil_1   Name_PCR   Show_Ponyville   Ch_22
1  mil_2  Name_KWTM   Show_Soap_Suds   Ch_15
2  mil_3   Name_CVT    Show_Moneygab   Ch_43
3  mil_4  Name_BNRG    Show_Top_Chow   Ch_56
4  mil_5   Name_TWL  Show_Powertrips   Ch_62