In [1]:
intent_2024_09_06 = """

solving "robot warriors" page 29 in the Puzzle Baron's logic puzzles book.

There are 5 battery types:
    "AAAA"
    "AAA"
    "AA"
    "C
    "D"

5 Builders:
    "Aden"
    "Giselle"
    "Jackie"
    "Stephen"
    "Zachary"

5 Numbers of batteries:
    "Two"
    "Three"
    "Four"
    "Five"
    "Six"

5 Different Robots:
    "Crusher"
    "Destroyer"
    "Mangler"
    "Trasher"
    "Wrecker"


The clues for the puzzle are given in 9 statements. 

# statement #1
#
# The five robots are Trasher (which isn't Jackie's robot), the one Aden built, \
#    the one that ran on the smallest batteries, Destroyer, and the one that \
#    required five batteries

# statement 2.
#
# Giselle's robot didn't require the largest battery type

# statement 3.
#
# One Robot ran three AA batteries

# statement 4.
#
# Of Wrecker and Jackie's robot, one ran on D batteries and the other used \
#    three batteries

# statement 5.
#
# The five builders are Zackery, the one who built Mangler, the one whose robot required \
#    five batteries, and the ones who built robots that used AA and C batteries

# statement 6.
#
# Trasher didn't run on four batteries

# statement 7.
#
# Giselle's robot used larger batteries than Jackie's

# statement 8.
#
# The robot that required the fewest batteries didn't use C batteries

# statement 9.
#
# The robot the required AAA batteries didn't use four of them. 



This is bit more difficult to solve googling around and using Kruple's book [https://github.com/d-krupke/cpsat-primer]

It can be interesting to comment out some of the clues from the puzzle and see how many solutions remain 


"""

In [2]:
from pprint import pprint

In [3]:
import pandas as pd

pd.set_option('display.max_columns', 30)

In [4]:
from ortools.sat.python import cp_model

In [5]:
# """Solves the robot warrior problem."""

In [6]:
#
# Maybe put an image of the puzzle here
#

In [7]:
# Create the model.
model = cp_model.CpModel()

In [8]:
class VarArraySolutionCollector(cp_model.CpSolverSolutionCallback):

    def __init__(self, variables):
        cp_model.CpSolverSolutionCallback.__init__(self)
        self.__variables = variables
        self.solution_list = []

    def on_solution_callback(self):
        self.solution_list.append([self.Value(v) for v in self.__variables])

    def print_headers(self):
        for var in self.__variables:
            print (f"{var.name},",end='')
        print ("")

    def list_of_headers(self):
        return_list = [
            str (var.name) 
            for 
            var in 
            self.__variables
        ]
        return return_list

## set up standard format that is common for this style of logic puzzle

In [9]:
# 1 through 5 -- will use the battery sizes as the number

In [10]:
    AAAA_type = model.new_int_var(1, 5, "AAAA")
    AAA_type  = model.new_int_var(1, 5, "AAA")
    AA_type  = model.new_int_var(1, 5, "AA")
    C_type = model.new_int_var(1, 5, "C")
    D_type  = model.new_int_var(1, 5, "D")


Types = [
    AAAA_type ,
    AAA_type,
    AA_type,
    C_type,
    D_type,
]

In [11]:

Aden = model.new_int_var(1, 5, "Aden")
Giselle = model.new_int_var(1, 5, "Giselle")
Jackie= model.new_int_var(1, 5, "Jackie")
Stephen = model.new_int_var(1, 5, "Stephen")
Zachary = model.new_int_var(1, 5, "Zachary")

Builders = [
    Aden ,
    Giselle,
    Jackie,
    Stephen,
    Zachary,
]

In [12]:
#people = [
#    Aden, Giselle, Jackie, Stephen, Zackary
#]

In [13]:

Two = model.new_int_var(1, 5, "Two")
Three = model.new_int_var(1, 5, "Three")
Four = model.new_int_var(1, 5, "Four")
Five = model.new_int_var(1, 5, "Five")
Six = model.new_int_var(1, 5, "Six")

Number = [
    Two ,
    Three,
    Four,
    Five,
    Six,
]

Number

[Two(1..5), Three(1..5), Four(1..5), Five(1..5), Six(1..5)]

In [14]:

Crusher = model.new_int_var(1, 5, "Crusher")
Destroyer = model.new_int_var(1, 5, "Destroyer")
Mangler = model.new_int_var(1, 5, "Mangler")
Trasher = model.new_int_var(1, 5, "Trasher")
Wrecker = model.new_int_var(1, 5, "Wrecker")


Robots = [
    Crusher ,
    Destroyer,
    Mangler,
    Trasher,
    Wrecker,
]

Robots

[Crusher(1..5), Destroyer(1..5), Mangler(1..5), Trasher(1..5), Wrecker(1..5)]

In [15]:
all_the_variables = (
    Types +
    Builders + 
    Number + 
    Robots
)
all_the_variables

[AAAA(1..5),
 AAA(1..5),
 AA(1..5),
 C(1..5),
 D(1..5),
 Aden(1..5),
 Giselle(1..5),
 Jackie(1..5),
 Stephen(1..5),
 Zachary(1..5),
 Two(1..5),
 Three(1..5),
 Four(1..5),
 Five(1..5),
 Six(1..5),
 Crusher(1..5),
 Destroyer(1..5),
 Mangler(1..5),
 Trasher(1..5),
 Wrecker(1..5)]

In [16]:
#all_the_variables_plus += all_the_variables

In [17]:
# Create a solver and solve.
#solver = cp_model.CpSolver()
solution_printer = cp_model.VarArraySolutionPrinter(
    all_the_variables
)

In [18]:
model.add_all_different(Types)

In [19]:
#model.add_all_different(Types)
model.add_all_different(Builders)
model.add_all_different(Number)
model.add_all_different(Robots)

In [20]:
# setting the rows by battery type

model.Add (AAAA_type == 1)
model.Add (AAA_type == 2)
model.Add (AA_type == 3)
model.Add (C_type == 4)
model.Add (D_type == 5)

## adding the clues that particular to this puzzle

In [21]:
# statement #1

# The five robots are Trasher (which isn't Jackie's robot), the one Aden built, \
#    the one that ran on the smallest batteries, Destroyer, and the one that \
#    required five batteries

model.add_all_different(
    Trasher,
    Aden,
    AAAA_type,
    Destroyer,
    Five
)


# trasher not Jackie

model.add_all_different(
    Trasher,
    Jackie
)

In [22]:
# statement 2.

# Giselle's robot didn't require the largest battery type


model.add_all_different(
    Giselle,
    D_type
)

In [23]:
# statement 3.

# One Robot ran three AA batteries

model.add(Three == AA_type)

In [24]:
# statement 4.

# Of Wrecker and Jackie's robot, one ran on D batteries and the other used three batteries


model.add_all_different(
    Wrecker,
    Jackie

)
model.add_all_different(
    D_type,
    Three

)

In [25]:
# using the OnlyEnforceIf() was key to coding up this clue

In [26]:
# statement 4a
## Wrecker or Jackie ran on D batteries
## Wrecker or Jackie ran on Three batteries

Wrecker_is_D_type =  model.new_bool_var("Wrecker_is_D_type")

model.Add(Wrecker == D_type).OnlyEnforceIf(Wrecker_is_D_type )
model.Add(Wrecker != D_type).OnlyEnforceIf(~Wrecker_is_D_type)

#Wrecker_is_D_type = (Wrecker == D_type)
Wrecker_is_D_type

Wrecker_is_D_type(0..1)

In [27]:
# statement 4aa
## Wrecker or Jackie ran on D batteries
## Wrecker or Jackie ran on Three batteries

Wrecker_is_Three =  model.new_bool_var("Wrecker_is_Three")

model.Add(Wrecker == Three).OnlyEnforceIf(Wrecker_is_Three )
model.Add(Wrecker != Three).OnlyEnforceIf(~Wrecker_is_Three)

#Wrecker_is_D_type = (Wrecker == D_type)
Wrecker_is_Three

Wrecker_is_Three(0..1)

In [28]:
# statement 4b
## Wrecker or Jackie ran on D batteries
## Wrecker or Jackie ran on Three batteries

Jackie_is_D_type =  model.new_bool_var("Jackie_is_D_type")

model.Add(Jackie == D_type).OnlyEnforceIf(Jackie_is_D_type)
model.Add(Jackie != D_type).OnlyEnforceIf(~Jackie_is_D_type)
Jackie_is_D_type

Jackie_is_D_type(0..1)

In [29]:
# statement 4b
## Wrecker or Jackie ran on D batteries
## Wrecker or Jackie ran on Three batteries

Jackie_is_Three =  model.new_bool_var("Jackie_is_Three")

model.Add(Jackie == Three).OnlyEnforceIf(Jackie_is_Three)
model.Add(Jackie != Three).OnlyEnforceIf(~Jackie_is_Three)
Jackie_is_Three

Jackie_is_Three(0..1)

In [30]:

# all three of these XOR statements are needed 

model.AddBoolXOr([Wrecker_is_D_type, Jackie_is_D_type])
model.AddBoolXOr([Jackie_is_Three, Jackie_is_D_type])
model.AddBoolXOr([Wrecker_is_D_type, Wrecker_is_Three])

In [31]:
# statement 5.

# The five builders are Zackery, the one who built Mangler, the one whose robot required \
#    five batteries, and the ones who built robots that used AA and C batteries

model.add_all_different(
    Zachary,
    Mangler,
    Five,
    AA_type,
    C_type
)

In [32]:
# statement 6.

# Trasher didn't run on four batteries

model.add_all_different(
    Trasher,
    Four
)

In [33]:
# statement 7.

# Giselle's robot used larger batteries than Jackie's

model.Add (Giselle > Jackie)

In [34]:
# statement 8.

# The robot that required the fewest batteries didn't use C batteries

model.add_all_different(
    Two,
    C_type
)

In [35]:
# statement 9.

# The robot the required AAA batteries didn't use four of them. 

model.add_all_different(
    Four,
    AAA_type
)

### print out solutions

In [36]:
# Solve and print out the solution.
solver = cp_model.CpSolver()

In [37]:
# this one just prints the main variables
#solution_collector = VarArraySolutionCollector(  all_the_variables  )


solution_collector = VarArraySolutionCollector(  all_the_variables + [
    Wrecker_is_D_type,
    Wrecker_is_Three,
    Jackie_is_D_type,
    Jackie_is_Three
] )


solver.SearchForAllSolutions(model, solution_collector)

4

In [38]:
len(solution_collector.solution_list)

1

In [39]:
solution_collector.print_headers()

AAAA,AAA,AA,C,D,Aden,Giselle,Jackie,Stephen,Zachary,Two,Three,Four,Five,Six,Crusher,Destroyer,Mangler,Trasher,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three,

In [40]:
solution_collector.list_of_headers()

['AAAA',
 'AAA',
 'AA',
 'C',
 'D',
 'Aden',
 'Giselle',
 'Jackie',
 'Stephen',
 'Zachary',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Crusher',
 'Destroyer',
 'Mangler',
 'Trasher',
 'Wrecker',
 'Wrecker_is_D_type',
 'Wrecker_is_Three',
 'Jackie_is_D_type',
 'Jackie_is_Three']

In [41]:
solutions_df = pd.DataFrame(
    data = solution_collector.solution_list,
    columns = solution_collector.list_of_headers()
    
)
solutions_df.shape

solutions_df

,AAAA,AAA,AA,C,D,Aden,Giselle,Jackie,Stephen,Zachary,Two,Three,Four,Five,Six,Crusher,Destroyer,Mangler,Trasher,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three
0,1,2,3,4,5,2,4,3,5,1,2,3,1,5,4,1,3,2,4,5,1,0,0,1

In [42]:
# this is useful some conditions are commented out above
solutions_df[solutions_df['Wrecker'] == solutions_df['D']]

,AAAA,AAA,AA,C,D,Aden,Giselle,Jackie,Stephen,Zachary,Two,Three,Four,Five,Six,Crusher,Destroyer,Mangler,Trasher,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three
0,1,2,3,4,5,2,4,3,5,1,2,3,1,5,4,1,3,2,4,5,1,0,0,1

In [46]:
solutions_df[['D','Jackie','Three','Wrecker','Wrecker_is_D_type',	'Wrecker_is_Three',	'Jackie_is_D_type',	'Jackie_is_Three']]

,D,Jackie,Three,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three
0,5,3,3,5,1,0,0,1

In [48]:
nsample = min (solutions_df.shape[0],8)    # 8 or smaller, avoider errors when the number of solutions is below 8

solutions_df.sample(nsample)

,AAAA,AAA,AA,C,D,Aden,Giselle,Jackie,Stephen,Zachary,Two,Three,Four,Five,Six,Crusher,Destroyer,Mangler,Trasher,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three
0,1,2,3,4,5,2,4,3,5,1,2,3,1,5,4,1,3,2,4,5,1,0,0,1

In [49]:
solutions_df.head()

,AAAA,AAA,AA,C,D,Aden,Giselle,Jackie,Stephen,Zachary,Two,Three,Four,Five,Six,Crusher,Destroyer,Mangler,Trasher,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three
0,1,2,3,4,5,2,4,3,5,1,2,3,1,5,4,1,3,2,4,5,1,0,0,1