#

In [1]:
%pwd

'C:\\Users\\clayt'

In [2]:
intent_2024_09_06 = """

solving "robot warriors" page 29 in the logic puzzles book



"""

In [3]:
from pprint import pprint

In [4]:
import pandas as pd

pd.set_option('display.max_columns', 30)

In [5]:
from ortools.sat.python import cp_model

In [6]:
# """Solves the robot warrior problem."""

In [7]:
#
# putting in the multisolution
#

In [8]:
# Create the model.
model = cp_model.CpModel()

In [9]:
class VarArraySolutionCollector(cp_model.CpSolverSolutionCallback):

    def __init__(self, variables):
        cp_model.CpSolverSolutionCallback.__init__(self)
        self.__variables = variables
        self.solution_list = []

    def on_solution_callback(self):
        self.solution_list.append([self.Value(v) for v in self.__variables])

    def print_headers(self):
        for var in self.__variables:
            print (f"{var.name},",end='')
        print ("")

    def list_of_headers(self):
        return_list = [
            str (var.name) 
            for 
            var in 
            self.__variables
        ]
        return return_list

In [10]:
# 1 through 5 -- will use the battery sizes as the number

In [11]:
    AAAA_type = model.new_int_var(1, 5, "AAAA")
    AAA_type  = model.new_int_var(1, 5, "AAA")
    AA_type  = model.new_int_var(1, 5, "AA")
    C_type = model.new_int_var(1, 5, "C")
    D_type  = model.new_int_var(1, 5, "D")


Types = [
    AAAA_type ,
    AAA_type,
    AA_type,
    C_type,
    D_type,
]

In [12]:

Aden = model.new_int_var(1, 5, "Aden")
Giselle = model.new_int_var(1, 5, "Giselle")
Jackie= model.new_int_var(1, 5, "Jackie")
Stephen = model.new_int_var(1, 5, "Stephen")
Zachary = model.new_int_var(1, 5, "Zachary")

Builders = [
    Aden ,
    Giselle,
    Jackie,
    Stephen,
    Zachary,
]

In [13]:
#people = [
#    Aden, Giselle, Jackie, Stephen, Zackary
#]

In [14]:

Two = model.new_int_var(1, 5, "Two")
Three = model.new_int_var(1, 5, "Three")
Four = model.new_int_var(1, 5, "Four")
Five = model.new_int_var(1, 5, "Five")
Six = model.new_int_var(1, 5, "Six")

Number = [
    Two ,
    Three,
    Four,
    Five,
    Six,
]

Number

[Two(1..5), Three(1..5), Four(1..5), Five(1..5), Six(1..5)]

In [15]:

Crusher = model.new_int_var(1, 5, "Crusher")
Destroyer = model.new_int_var(1, 5, "Destroyer")
Mangler = model.new_int_var(1, 5, "Mangler")
Trasher = model.new_int_var(1, 5, "Trasher")
Wrecker = model.new_int_var(1, 5, "Wrecker")


Robots = [
    Crusher ,
    Destroyer,
    Mangler,
    Trasher,
    Wrecker,
]

Robots

[Crusher(1..5), Destroyer(1..5), Mangler(1..5), Trasher(1..5), Wrecker(1..5)]

In [16]:
all_the_variables = (
    Types +
    Builders + 
    Number + 
    Robots
)
all_the_variables

[AAAA(1..5),
 AAA(1..5),
 AA(1..5),
 C(1..5),
 D(1..5),
 Aden(1..5),
 Giselle(1..5),
 Jackie(1..5),
 Stephen(1..5),
 Zachary(1..5),
 Two(1..5),
 Three(1..5),
 Four(1..5),
 Five(1..5),
 Six(1..5),
 Crusher(1..5),
 Destroyer(1..5),
 Mangler(1..5),
 Trasher(1..5),
 Wrecker(1..5)]

In [17]:
#all_the_variables_plus += all_the_variables

In [18]:
all_the_variables[0]

AAAA(1..5)

In [19]:
# Create a solver and solve.
#solver = cp_model.CpSolver()
solution_printer = cp_model.VarArraySolutionPrinter(
    all_the_variables
)

In [20]:
model.add_all_different(Types)

In [21]:
#model.add_all_different(Types)
model.add_all_different(Builders)
model.add_all_different(Number)
model.add_all_different(Robots)

In [22]:
# setting the rows by battery type

model.Add (AAAA_type == 1)
model.Add (AAA_type == 2)
model.Add (AA_type == 3)
model.Add (C_type == 4)
model.Add (D_type == 5)

In [23]:
# statement #1

model.add_all_different(
    Trasher,
    Aden,
    AAAA_type,
    Destroyer,
    Five
)


# trasher not Jackie

model.add_all_different(
    Trasher,
    Jackie
)

In [24]:
# statement 2.

model.add_all_different(
    Giselle,
    D_type
)

In [25]:
# statement 3.

model.add(Three == AA_type)

In [26]:
# statement 4.

model.add_all_different(
    Wrecker,
    Jackie

)
model.add_all_different(
    D_type,
    Three

)

In [27]:
# statement 4a
## Wrecker or Jackie ran on D batteries
## Wrecker or Jackie ran on Three batteries

Wrecker_is_D_type =  model.new_bool_var("Wrecker_is_D_type")

model.Add(Wrecker == D_type).OnlyEnforceIf(Wrecker_is_D_type )
model.Add(Wrecker != D_type).OnlyEnforceIf(~Wrecker_is_D_type)

#Wrecker_is_D_type = (Wrecker == D_type)
Wrecker_is_D_type

Wrecker_is_D_type(0..1)

In [28]:
# statement 4aa
## Wrecker or Jackie ran on D batteries
## Wrecker or Jackie ran on Three batteries

Wrecker_is_Three =  model.new_bool_var("Wrecker_is_Three")

model.Add(Wrecker == Three).OnlyEnforceIf(Wrecker_is_Three )
model.Add(Wrecker != Three).OnlyEnforceIf(~Wrecker_is_Three)

#Wrecker_is_D_type = (Wrecker == D_type)
Wrecker_is_Three

Wrecker_is_Three(0..1)

In [29]:
# statement 4b
## Wrecker or Jackie ran on D batteries
## Wrecker or Jackie ran on Three batteries

Jackie_is_D_type =  model.new_bool_var("Jackie_is_D_type")

model.Add(Jackie == D_type).OnlyEnforceIf(Jackie_is_D_type)
model.Add(Jackie != D_type).OnlyEnforceIf(~Jackie_is_D_type)
Jackie_is_D_type

Jackie_is_D_type(0..1)

In [30]:
# statement 4b
## Wrecker or Jackie ran on D batteries
## Wrecker or Jackie ran on Three batteries

Jackie_is_Three =  model.new_bool_var("Jackie_is_Three")

model.Add(Jackie == Three).OnlyEnforceIf(Jackie_is_Three)
model.Add(Jackie != Three).OnlyEnforceIf(~Jackie_is_Three)
Jackie_is_Three

Jackie_is_Three(0..1)

In [31]:

model.AddBoolXOr([Wrecker_is_D_type, Jackie_is_D_type])
model.AddBoolXOr([Jackie_is_Three, Jackie_is_D_type])
model.AddBoolXOr([Wrecker_is_D_type, Wrecker_is_Three])

In [42]:
# statement 5.

model.add_all_different(
    Zachary,
    Mangler,
    Five,
    AA_type,
    C_type
)

In [43]:
# statement 6.

model.add_all_different(
    Trasher,
    Four
)

In [44]:
# statement 7.

model.Add (Giselle > Jackie)

In [45]:
# statement 8.

model.add_all_different(
    Two,
    C_type
)

In [46]:
# statement 9.

model.add_all_different(
    Four,
    AAA_type
)

In [47]:
### print out solutions

In [48]:
# Solve and print out the solution.
solver = cp_model.CpSolver()
#status = solver.solve(model)
#status = solver.SearchForAllSolutions(model, solution_printer)

In [49]:
#solution_collector = VarArraySolutionCollector(  all_the_variables  )


solution_collector = VarArraySolutionCollector(  all_the_variables + [
    Wrecker_is_D_type,
    Wrecker_is_Three,
    Jackie_is_D_type,
    Jackie_is_Three
] )


solver.SearchForAllSolutions(model, solution_collector)

4

In [50]:
len(solution_collector.solution_list)

1

In [51]:
solution_collector.print_headers()

AAAA,AAA,AA,C,D,Aden,Giselle,Jackie,Stephen,Zachary,Two,Three,Four,Five,Six,Crusher,Destroyer,Mangler,Trasher,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three,

In [52]:
solution_collector.list_of_headers()

['AAAA',
 'AAA',
 'AA',
 'C',
 'D',
 'Aden',
 'Giselle',
 'Jackie',
 'Stephen',
 'Zachary',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Crusher',
 'Destroyer',
 'Mangler',
 'Trasher',
 'Wrecker',
 'Wrecker_is_D_type',
 'Wrecker_is_Three',
 'Jackie_is_D_type',
 'Jackie_is_Three']

In [53]:


solutions_df = pd.DataFrame(
    data = solution_collector.solution_list,
    columns = solution_collector.list_of_headers()
    
)
solutions_df.shape

solutions_df

,AAAA,AAA,AA,C,D,Aden,Giselle,Jackie,Stephen,Zachary,Two,Three,Four,Five,Six,Crusher,Destroyer,Mangler,Trasher,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three
0,1,2,3,4,5,2,4,3,5,1,2,3,1,5,4,1,3,2,4,5,1,0,0,1

In [54]:
solutions_df[solutions_df['Wrecker'] == solutions_df['D']]

,AAAA,AAA,AA,C,D,Aden,Giselle,Jackie,Stephen,Zachary,Two,Three,Four,Five,Six,Crusher,Destroyer,Mangler,Trasher,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three
0,1,2,3,4,5,2,4,3,5,1,2,3,1,5,4,1,3,2,4,5,1,0,0,1

In [55]:
solutions_df[['D','Jackie','Three','Wrecker','Wrecker_is_D_type',	'Wrecker_is_Three',	'Jackie_is_D_type',	'Jackie_is_Three']]

,D,Jackie,Three,Wrecker,Wrecker_is_D_type,Wrecker_is_Three,Jackie_is_D_type,Jackie_is_Three
0,5,3,3,5,1,0,0,1

In [56]:
solutions_df.sample(n=8)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [ ]:
solutions_df.head()

In [ ]:
## Scratchpad

In [ ]:
assert (False, "scratch below here")

In [ ]:
##  scratchpad below here

In [ ]:
#
## comment out?
#

diff_fox_chesterfields = model.new_int_var(-4, 4, "diff_fox_chesterfields")
model.add(diff_fox_chesterfields == fox - chesterfields)
model.add_abs_equality(1, diff_fox_chesterfields)

In [ ]:
#
## comment out
#

diff_horse_kools = model.new_int_var(-4, 4, "diff_horse_kools")
model.add(diff_horse_kools == horse - kools)
model.add_abs_equality(1, diff_horse_kools)

In [ ]:
#
## comment out
#

#model.add(lucky_strike == fruit_juice)
model.add(japanese == parliaments)

In [ ]:
#
## comment out
#

diff_norwegian_blue = model.new_int_var(-4, 4, "diff_norwegian_blue")
model.add(diff_norwegian_blue == norwegian - blue)
model.add_abs_equality(1, diff_norwegian_blue)

In [ ]:
# Solve and print out the solution.
solver = cp_model.CpSolver()
#status = solver.solve(model)
#status = solver.SearchForAllSolutions(model, solution_printer)

In [ ]:
solution_collector = VarArraySolutionCollector(  all_the_variables  )
solver.SearchForAllSolutions(model, solution_collector)

In [ ]:
len(solution_collector.solution_list)

In [ ]:
solution_collector.print_headers()

In [ ]:
solution_collector.list_of_headers()

In [ ]:
import pandas as pd

In [ ]:
solutions_df = pd.DataFrame(
    data = solution_collector.solution_list,
    columns = solution_collector.list_of_headers()
    
)
solutions_df.shape

In [ ]:
solutions_df

In [ ]:
solution_collector.solution_list

In [ ]:
# print
#  status = solver.SearchForAllSolutions(model, solution_printer)

In [ ]:
[p for p in people if solver.value(p) == solver.value(water)]

In [ ]:
[p for p in people if solver.value(p) == solver.value(zebra)]

In [ ]:

water_drinker = [p for p in people if solver.value(p) == solver.value(water)][0]
zebra_owner = [p for p in people if solver.value(p) == solver.value(zebra)][0]
print("The", water_drinker.name, "drinks water.")
print("The", zebra_owner.name, "owns the zebra.")

In [ ]:
model.add_all_different(red, green, yellow, blue, ivory)

In [ ]:
solver = cp_model.CpSolver()
status = solver.solve(model)

In [ ]:
solver.value(water)

In [ ]:
status = solver.solve(model)
status

In [ ]:
people = [englishman, spaniard, japanese, ukrainian, norwegian]
water_drinker = [p for p in people if solver.value(p) == solver.value(water)][0]

In [ ]:
water_drinker = [p for p in people if solver.value(p) == solver.value(water)]
print(water_drinker[0])
water_drinker

In [ ]:
zebra_owner = [p for p in people if solver.value(p) == solver.value(zebra)]
print(zebra_owner [0])
zebra_owner

In [ ]:
#print("The", water_drinker.name, "drinks water.")
#print("The", zebra_owner.name, "owns the zebra.")

In [ ]:
red

In [ ]:
house_colors = [
red ,
green ,
yellow ,
blue ,
ivory ,
   
]

[(solver.value(color),color) for color in house_colors]

In [ ]:
people = [
englishman,
spaniard,
japanese,
ukrainian,
norwegian,
   
]

[(solver.value(person),person) for person in people]

In [ ]:
animals = [

dog,
snails,
fox,
zebra,
horse,
]

[(solver.value(animal),animal) for animal in animals]

In [ ]:
drinks = [
tea,
coffee,
water,
milk,
fruit_juice,
    
]

[(solver.value(drink),drink) for drink in drinks]

In [ ]:

smokes = [

old_gold,
kools,
chesterfields,
lucky_strike,
parliaments,

]

[(solver.value(smoke),smoke) for smoke in smokes]

In [ ]:
###

In [ ]:
from ortools.sat.python import cp_model

model = cp_model.CpModel()
solver = cp_model.CpSolver()


a = model.NewBoolVar("")
b = model.NewBoolVar("")
c = model.NewBoolVar("")
model.AddBoolXOr([a, b, c, 1])

solver.Solve(model)

print([solver.Value(x) for x in (a, b, c)])